.Cart-list {
  max-height: 60vh;
  overflow-y: auto;
}

.Cart-total {
  display: flex;
  justify-content: flex-end;
  gap: 53px;
  padding-right: 120px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}
